# Configuration file

##########################################################################################################
# electrostatic generator
#--------------------------------------------------------------------------------------------------------#
# Settings for the electrostatic generator
##########################################################################################################

"electrostatic generator" {
    # Set the amount of rf per tick the electrostatic generator produces. [range: 0 ~ 10000, default: 10]
    I:ElectrostaticRfPerTick=10
}


##########################################################################################################
# jump generator
#--------------------------------------------------------------------------------------------------------#
# Settings for the jump generator
##########################################################################################################

"jump generator" {
    # Set the amount of rf per tick the jump generator produces. [range: 0 ~ 10000, default: 10]
    I:JumpRfPerTick=10
}


##########################################################################################################
# pet cat
#--------------------------------------------------------------------------------------------------------#
# Settings for the pet cat
##########################################################################################################

"pet cat" {
    # Set a cooling time after pet cat(The unit is tick) [range: 0 ~ 10000, default: 0]
    I:CoolingTickPerTime=0

    # Set the amount of rf per time pet cat produces. [range: 0 ~ 10000, default: 10]
    I:PetRfPerTime=10

    # If true, petting a cat too quickly can make the cat burn up [default: true]
    B:pettingBurn=true

    # Set the amount of times a cat becomes inflamed when handled too quickly [range: 0 ~ 10000, default: 50]
    I:pettingBurnTime=50
}


##########################################################################################################
# tree tap
#--------------------------------------------------------------------------------------------------------#
# Settings for the tree tap
##########################################################################################################

"tree tap" {
    # Set the amount of damage a tree tap takes when used to tap resin [range: 1 ~ 256, default: 30]
    I:damage=30

    # Set this to false to disable the tree taps functionality and force users to get rubber from another mod. [default: true]
    B:isTreeTapEnabled=false
}


