# Configuration file

~CONFIG_VERSION: 1.12.2-2.2.20.0

integration {
    # When enabled, Simply Jetpacks will register its EnderIO Jetpacks and Fluxpacks.
    B:enableIntegrationEIO=true

    # When enabled, Simply Jetpacks will register its Immersive Engineering Jetpacks.
    B:enableIntegrationIE=true

    # When enabled, Simply Jetpacks will register its Mekanism Jetpacks.
    B:enableIntegrationMek=true

    # When enabled, Simply Jetpacks will register its Redstone Arsenal Tier5 Jetpack recipes.
    B:enableIntegrationRA=true

    # When enabled, Simply Jetpacks will register its Redstone Repository Tier5 JetPlate recipes.
    B:enableIntegrationRR=true

    # When enabled, Simply Jetpacks will register Thermal Dynamics items for thruster recipes.
    B:enableIntegrationTD=true

    # When enabled, Simply Jetpacks will register its Thermal Expansion Jetpacks and Fluxpacks.
    B:enableIntegrationTE=true

    # When enabled, Simply Jetpacks will register its Vanilla Jetpacks.
    B:enableIntegrationVanilla=true

    # When set to a value between 0-100, changes the energy efficiency bonus of the Enderium Armored Jetplate (Example: 80 uses energy at 80% rate).
    I:gelidEnderiumEnergyUsageBonus=80
}


items {
    # hen enabled, Simply Jetpacks will register some crafting components from Redstone Arsenal to make the Flux-Infused JetPlate craftable if Redstone Arsenal is not installed.
    B:addRAItemsIfNotInstalled=true

    # Enable the Fuel Efficiency enchantment.
    B:enableFuelEfficiencyEnchantment=true
}


misc {
    # When enabled, you will get several advancements when joining a world for the first time.
    B:joinAdvancements=false
}


