# Configuration file

"#general" {
    # (true) Use sprites in inventories, but 3D models everywhere else.
    # (false) Always use sprites. Reduces RAM usage significantly. [default: true]
    B:"Use 3D Models"=false

    # Disables AA crafting if false [default: true]
    B:allowTurret=true

    # If this is false then AAs will not attack players [default: true]
    B:allowTurretPlayerAttacks=true

    # Can we break glass and other fragile things with our projectiles? [default: true]
    B:breakGlass=true

    # Are we removing disabled weapons from the creative menu too? [default: false]
    B:noCreative=false

    # If this is true then AA targeting range is limited to 32 blocks [default: true]
    B:restrictTurretRange=true

    # Do we send a BlockBreak event when breaking things with our projectiles? [default: true]
    B:sendBlockBreak=true

    # If an entity has its registry name in this list, the soul cairn cannot capture it. [default: ]
    S:soulCairnBlacklist <
     >

    # How fast scoped weapons zoom in and out. Smaller numbers zoom faster. [range: 1.0 ~ 100.0, default: 15.0]
    S:zoomSpeed=15.0
}


