# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
     >
    S:"Mod Aliases" <
        animus=bloodmagic
        incorporeal=botania
        nautralpledge=botania
     >
    S:"Whitelisted Items" <
        academy:tutorial
        charset:tablet
        correlated:doc_tablet
        draconicevolution:info_tablet
        elementaristics:liber_elementium
        immersiveengineering:tool:3
        opencomputers:tool:4
        roots:runedtablet
        uniquecrops:generic
        uniquecrops:bookmultiblock
     >
    S:"Whitelisted Names" <
        book
        codex
        compendium
        guide
        journal
        knowledge
        lexicon
        manual
        nomicon
        pedia
        tome
     >
}


