# Configuration file

general {
    B:"Allow all items to be added"=false
    S:"Blacklisted Mods" <
     >
    S:"Mod Aliases" <
        ae2stuff=appliedenergistics2
        animus=bloodmagic
        incorporeal=botania
        integrateddynamics=integratedtunnels
        mekanismgenerators=mekanism
        mekanismtools=mekanism
        nautralpledge=botania
        redstonearsenal=thermalfoundation
        rftoolsdim=rftools
        thermalcultivation=thermalfoundation
        thermaldynamics=thermalfoundation
        thermalexpansion=thermalfoundation
     >
    S:"Whitelisted Items" <
        charset:tablet
        correlated:doc_tablet
        draconicevolution:info_tablet
        evilcraft:origins_of_darkness
        immersiveengineering:tool:3
        integrateddynamics:on_the_dynamics_of_integration
        opencomputers:tool:4
        roots:runedtablet
        theoneprobe:probenote
     >
    S:"Whitelisted Names" <
        book
        codex
        compendium
        guide
        journal
        knowledge
        lexicon
        manual
        nomicon
        pedia
        tome
     >
}


