# Configuration file

general {
    I:"Automaton Mining Level"=2

    # Set this to true to allow all entries and categories to be visible from the get-go rather than locked by advancements.
    B:"Disable Advancement Locking"=false
    B:"Enable Author's Notes"=true
    B:"Zombies Drop Lexica Alquimia"=false
}


