# Configuration file

balance {
    # Correlated has a few *extremely* overpowered debug items that have
    # a plethora of safeguards to prevent them from being used in pure
    # Survival mode. Turning on this config option will disable these
    # safeguards, in case you want to make the items obtainable.
    B:disableSafeguards=false

    # If enabled, non-Creative players cannot use Creative Memory,
    # Vending Drives, or Creative Drives. Memory or drive bays containing
    # any of these items also become unbreakable. In addition, Cheaty
    # Controllers become unplacable by non-Creative players and
    # unbreakable.
    B:restrictCreativeItems=true

    # If enabled, the Weldthrower will damage mobs and set them on fire.
    B:weldthrowerHurts=true
}


display {
    # The preferred energy unit to show in GUIs. Case insensitive.
    # Possible values:
    #   Potential / P: Correlated's native energy system [default]
    #   Redstone Flux / RF: Thermal Expansion's energy system
    #   Energy Units / EU: IndustrialCraft's energy system
    #   Tesla / T: The Tesla energy system
    #   Minecraft Joules / MJ: BuildCraft's energy system
    #   Joules / J: Mekanism's energy system
    #   Danks / Dk: Alternate name for Tesla
    #   Forge Units / FU: The Forge energy system
    #   Forge Energy / FE: Alternate name for Forge Units
    #   Crystal Flux / CF: Actually Additions' energy system
    #   Micro Infinity / uI: EnderIO's energy system
    S:preferredUnit=Potential
}


ids {
    # The dimension ID for the glitch dungeon.
    I:limboDimId=-31
}


import {
    # The mode for the old network importer, which will run on any 1.x
    # networks loaded with Correlated 2.x, as well as any legacy items
    # removed after 2.0.
    # 
    # Possible values are:
    #   refund_all: Refund components, convert drives into Data Cores,
    #               and refund Interface contents. [default]
    # 
    #   refund_some: Convert drives into Data Cores and refund Interface
    #                contents, but do not refund crafting ingredients.
    #                Useful if you used MineTweaker to change the
    #                recipes. Components will still be refunded.
    # 
    #   refund_content: Convert drives into Data Cores and refund
    #                   Interface contents, but do not refund anything
    #                   else.
    # 
    #   destroy: Outright delete the network, and all items that were
    #            contained in it. If you use this option, PLEASE state it
    #            prominently on your modpack page, and warn people.
    # 
    #   leave: Leave the network alone. May result in glitchy drives
    #          holding more data than they should be able to, crashes,
    #          and general strangeness. Not recommended.
    S:mode=refund_all
}


misc {
    # If true, a number of unfinished work-in-progress features with
    # dangerous bugs will be disabled.
    B:disableWipFeatures=false

    # If true, Correlated will download large resources such as music
    # during init if they don't already exist. An integrity check will
    # also be performed, to detect incidental corruption. If you want to
    # use custom music or expect to use Correlated offline and don't want
    # to wait for a connection timeout, turn this off.
    # 
    # Correlated specifically blanks out the user agent and doesn't send
    # any sort of analytics information when performing a resource download.
    B:enableResourceDownloader=true

    # If true, Correlated will query the Elytra Jenkins server on launch
    # to check for any updates that may be available for the mod. This is
    # done in a separate thread and won't freeze loading, and it uses
    # Forge's standard green diamond update notification - it doesn't
    # spam chat.
    # 
    # If set to 'unset', it will honor Forge's global update checker
    # configuration.
    S:enableUpdateChecker=unset
}


power {
    # The Potential stored by the controller.
    I:controllerCapacity=64000

    # The Potential used by the controller every tick to keep it online.
    I:controllerIdleUsage=4

    # The Potential used by the controller for each kilobit added to
    # storage.
    I:controllerInsertUsage=8

    # The Potential used by the controller for each kilobit removed from
    # storage.
    I:controllerRemoveUsage=4

    # The Potential stored by a handheld terminal.
    I:handheldTerminalCapacity=16000

    # When using a handheld or standalone terminal, the costs incurred by
    # the controller for an insert/remove will also be incurred on its
    # internal energy storage, multiplied by this amount.
    D:standaloneCost=0.25

    # The Potential stored by a standalone interface.
    I:standaloneInterfaceCapacity=16000

    # The Potential stored by a standalone terminal.
    I:standaloneTerminalCapacity=24000

    # The Potential stored by the vacuum.
    I:vacuumCapacity=32000

    # The amount of Potential consumed by the Vacuum for every tick
    # it's in operation.
    I:vacuumUsage=24

    # The multiplier applied to power costs when going over wireless.
    # Each wireless link hopped over will add this overhead on top.
    D:wirelessOverhead=1.15
}


powerconversion {
    # EU (IndustrialCraft) to Potential conversion rate. Can be
    # fractional. Only used for input, energy cannot be taken out of a
    # Correlated system. Default is 1 EU = 4 P.
    D:eu=0.25

    # Forge to Potential conversion rate. Can be fractional. Should be
    # the same as the RF rate, as recommended by the Forge devs. Only
    # used for input, energy cannot be taken out of a Correlated system.
    D:forge=1.0

    # Joule (Mekanism) to Potential conversion rate. Can be fractional.
    # Only used for input, energy cannot be taken out of a Correlated
    # system. Default is 5 J = 2 P.
    D:joule=2.5

    # MJ (BuildCraft) to Potential conversion rate. Can be fractional.
    # Only used for input, energy cannot be taken out of a Correlated
    # system. Default is 1 MJ = 10 P.
    D:mj=0.1

    # RF (Thermal Expansion) to Potential conversion rate. Can be
    # fractional. Only used for input, energy cannot be taken out of a
    # Correlated system.
    D:rf=1.0

    # Tesla to Potential conversion rate. Can be fractional. Should be
    # the same as the RF rate, as recommended by the Tesla devs. Only
    # used for input, energy cannot be taken out of a Correlated system.
    D:tesla=1.0
}


