# Configuration file

general {
    # Item IDs that shine light while held. Armor Items also work when worn. [ONLY ON OTHERS] Syntax: ItemID[-MetaValue]:LightValue, seperated by commas
    S:LightItems=torch,glowstone,lit_pumpkin,redstone_torch=10,advancedrocketry:thermitetorch,ancientbeasts:green_torch,arcanearchives:quartz_sliver,bloodarsenal:blood_torch,correlated:lumtorch,inspirations:torch_lever,mia:torch_gold,mysticalagriculture:miners_torch,plants2:crystal_torch,tconstruct:stone_torch,theaurorian:moontorch,theaurorian:silentwoodtorch,thebetweenlands:sulfur_torch,totemic:totem_torch,arcanearchives:raw_quartz=12,arcanearchives:raw_quartz_cluster=12,betweenlandsredstone:scabyst_torch=10,inspirations:redstone_torch_lever=10

    # Update Interval time for all other player entities in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


