# Configuration file

general {

    advanced {
        # Enable to use a modern rendering pipeline replacing some of the fixed-functionality pipeline usages in Tessellator.
        # 
        # Work-in-progress. For now, do not report issues when enabled.
        B:"(WIP) Modern Rendering Pipeline"=false

        # Specifies the size of the EBO in KBs
        # Min: 256
        # Max: 16384
        I:"EBO Size"=4096

        # Specifies the size of the indirect drawing command buffer object in KBs
        # Min: 256
        # Max: 16384
        I:"Indirect Buffer Size"=1024

        # Specifies the maximum count of persistent buffers for each target. It is generally not recommended to change this value unless you know what you are doing.
        # Min: 1
        # Max: 5
        I:"Max Buffer Count"=2

        # Specifies the size of the VBO in KBs
        # Min: 256
        # Max: 16384
        I:"VBO Size"=4096
    }

    mods {

        "ender io" {
            # Enable to render EnderIO conduits in batches, significantly reducing the number of GL state changes, draw calls and vertex pointer setups.
            # 
            # Massively improves performance when you have a handful of EnderIO conduits in the world.
            B:"Batched Conduit Rendering"=true
        }

        "the one probe" {
            # Removes unneeded OpenGL calls to improve performance
            B:"Remove Redundant GL Calls"=true
        }

    }

    vanilla {
        # Valid values:
        # 
        # NONE: Disables the optimization
        # CONSERVATIVE: Applies conservative optimizations to make framebuffer blitting faster
        # AGGRESSIVE: Applies aggressive optimizations that skips the framebuffer blitting altogether. Incompatible with most shaders. Should be compatible with most mods - bug reports welcome
        # 
        # The aggressive option provides similar levels of performance as OptiFine's Fast Render option, but has much better mod compatibility. You should not be using both at the same time.
        # Valid values:
        # NONE
        # CONSERVATIVE
        # AGGRESSIVE
        S:"Framebuffer Optimization Strategy"=NONE

        # Draw vanilla HUD elements in batches to improve performance
        B:"HUD Batching"=true

        # Skips entity outline (a.k.a. glowing effect) rendering when there is no entity visible with outline.
        B:"Smart Entity Outline Rendering"=true
    }

}


