# Configuration file

block {

    disappearing {
        # The maximum number of blocks that will disappear together in a group [range: 1 ~ 900, default: 16]
        I:chain-max=16

        # The time it takes for a disappearing block to reappear [range: 1 ~ 900, default: 100]
        I:delay-reappear=100
    }

}


recipe {
    # If enabled, this registers recipes for cosmetic blocks [default: false]
    B:enable-cosmetic=true
}


