# Configuration file

general {
    # If true and Waila is installed, Fruit Phone will disable it. Automatically turned off on first run. [default: true]
    B:disableWaila=true

    # If true and Waila is installed, Fruit Phone will display information from Waila plugins. [default: true]
    B:showWailaInformation=true
}


