# Configuration file

general {
    # If true and Waila is installed, Fruit Phone will disable it. Automatically turned off on first run. [default: true]
    B:disableWaila=true

    # If true and Waila is installed, Fruit Phone will display information from Waila plugins. [default: true]
    B:showWailaInformation=true
}


##########################################################################################################
# glasses
#--------------------------------------------------------------------------------------------------------#
# Configuration for the glasses overlay. This can be configured ingame much more easily with the Power Drill.
##########################################################################################################

glasses {
    S:gravity=north
    S:maxHeight=66.666
    S:maxWidth=33.333
    S:scale=100.0
    I:xOffset=4
    I:yOffset=2
}


