# Configuration file

modules {
    #  [default: true]
    B:chair=true

    #  [default: true]
    B:clearwater=false

    #  [default: true]
    B:instantpickup=false

    #  [default: true]
    B:obelisk=false

    #  [default: true]
    B:pale=true

    #  [default: true]
    B:resizehelper=false

    #  [default: true]
    B:spiritgraves=true

    #  [default: true]
    B:stoned=false
}


