# Configuration file

General {
    # Enabling this makes the Totem Lathe and the Punch designix use Item IDs to determine a combination result if one doesn't exist already.
    B:IDAlchemy=true

    # Prevents the included from being obtainable through ID Alchemy, yielding an Artifact block instead.
    S:IDAlchemyBlacklist <
     >

    # Prevents the included Abilitechs from being used by mimicking Abilitechs such as Magic Metronome, Roguelike Adaptability and Arcane Study.
    S:abilitechExternalUseBlacklist <
     >

    # Determines a player's base luck when chiseling a block of Zillystone.
    I:baseZillystoneLuck=-2

    # Similar to Spawn Protection, determines the radius starting from world spawn that prevents players from entering.
    I:entrySpawnProtection=0

    # Determines how much grist is dropped from Underlings.
    I:gristDropsMultiplier=1

    # Enabling this prevents you from losing your sylladex upon death.
    B:keepSylladexOnDeath=true

    # Enabling this makes players only be able to receive chat messages from nearby players unless Gift of Gab is enabled.
    B:localizedChat=false

    # Whether solo sessions should use the null title and terrain aspects.
    B:nullSoloSessions=false

    # A list that determines what entities cannot be affected by certain powers in the game, such as Return to Dust and Captchaloguing.
    S:protectedEntities <
     >

    # A list that determines what tile entities cannot be affected by certain powers in the game, such as Wallet Modus Captchaloguing.
    S:protectedTileEntities <
     >

    # Prevents the included Abilitechs from spawning as Skaian Scrolls.
    S:skaiaScrollBlacklist <
     >

    # Determines the total number of Skaia Scrolls a player can use in total. Set to negative to ignore the limit.
    I:skaiaScrollLimit=-1

    # Do not enable this while playing on any world you care about if you don't know what it does.
    B:unstableArtifactSpread=false

    # Determines how much luck affects the amount of Zillystone Shards get dropped by a Zillystone when chiseled.
    D:zillystoneYields=0.1
}


"God Tier" {
    # Determines how many Badge Slots God Tiered players start out with
    I:godTierBadgeSlots=7

    # Determines whether God Tiered players start with Master Control enabled, allowing them to unlock all skills regardless of their classpect
    B:godTierMasterControl=false

    # Determines the minimum number of levels required to upgrade God Tier Skills
    I:godTierXpThreshold=30

    # Determines max god tier you can reach. When reached you cannot level up further. -1 makes it so that there is no limit. Warning: can prevent players from accessing certain badges if too low.
    I:maxGodTier=-1

    # Enabling this makes certain skills require multiple kinds of Hero Stone Shards to unlock.
    B:multiAspectUnlocks=true

    # Determines the size of the area of which the Quest Bed can spawn on a player's land
    I:questBedSpawnArea=2500

    # Determines how far away the Quest Bed can spawn from the center of a player's land
    I:questBedSpawnDistance=2500

    # Determines the minimum rung required to God Tier, set to -1 to bypass god tiering requirements.
    I:requiredRungToGodTier=20
}


Strife {
    # Determines the rung needed to unlock the Strife Specibus Quick Switcher. Set it to -1 to let all players use it, or 50 to completely disable it.
    I:abstrataSwitcherRung=17

    # Enables the Strife Portfolio and overrides every Minestuck and Minestuck Universe weapon to better balance them. Other options in the Strife category will only take effect if this is set to true
    B:combatOverhaul=true

    # Determines whether the player drops their Strife Portfolio after dying or not.
    B:keepPortfolioOnDeath=true

    # Prevents players from attacking without an allocated weapon in their main hand. It also restricts the use of certain items such as bows.
    B:restrictedStrife=false

    # Determines what items still have right-click functionality, even if Restricted Strife is enabled.
    S:restrictedStrifeBypass <
        minecraft:egg
        minecraft:snowball
        minecraft:ender_eye
        minecraft:ender_pearl
        minecraft:potion
        minecraft:experience_bottle
        minestuckuniverse:yarn_ball
        minestuckuniverse:eight_ball
        minestuckuniverse:wallet_ball
        botania:managun
        bibliocraft:bibliodrill
     >

    # Some mobs have a chance at dropping Strife Specibus Cards allocated to whatever item they're holding when killed by a player. This config determines how many cards each player can get from this method at most.
    I:strifeCardMobDrops=5

    # Determines what Kind Abstrata can be dropped by killing underlings.
    S:strifeCardMobDropsWhitelist <
        minestuckuniverse:sword
        minestuckuniverse:hammer
        minestuckuniverse:club
        minestuckuniverse:cane
        minestuckuniverse:sickle
        minestuckuniverse:spoon
        minestuckuniverse:fork
        minestuckuniverse:potion
        minestuckuniverse:projectile
        minestuckuniverse:claw
        minestuckuniverse:glove
        minestuckuniverse:bow
        minestuckuniverse:shield
        minestuckuniverse:needle
        minestuckuniverse:rock
        minestuckuniverse:bunny
        minestuckuniverse:sbahj
        minestuckuniverse:joker
     >

    # Determines the max amount of weapons that can fit inside a single Strife Deck, set this to -1 to remove the limit.
    I:strifeDeckMaxSize=20

    # Allows players to tweak how much damage Minestuck and Minestuck Universe weapons do as a percentage against entities that aren't Underlings.
    D:weaponAttackMultiplier=0.15
}


