# Configuration file

general {

    vanilla {
        # Stops receiving new item entities on client when player is dead. Item entities doesn't remove correctly on client-side when player is dead, so they can get more and more over time, causing huge lags.
        B:dontReceiveItemsWhenDead=true
    }

    railcraft {
        # Fix a desync bug of multiblock that when the multiblock is across chunks. 
        # When desync, client can get its inventory scrambled when right-clicking at the bugged multiblock. 
        B:multiblockSyncFix=false

        # Fix outfitted tracks drops only the kit but not the track when destroyed.
        B:outfittedDropsFix=true

        # Allow track relayer to replace outfitted track.
        B:replaceOutfittedTrack=true

        # Fix turbine being fixed for free when putting in crafting slot with a blade and take it out.
        B:turbineRepairingFix=true
    }

    ic2 {
        # Prevent IC2 keybinds in inventory GUIs.
        # Fixes jetpack being activated when pressing jump with the inventory open.
        B:blockKeybindInGUI=true

        # Fixes crops detecting additional dirt under farmland.
        B:cropDirtDetectionFix=true

        # Make IC2 crop stick able to put on any BlockFarmland, including the ones added by mods.
        B:cropOnAllFarmlands=true

        # Fixes a bug that on a LAN server, all IC2 messages are sent to the host, instead of the player that should receive the message.
        B:lanMessageFix=true

        # Fix mass fabricator stuck permanently after it's output is blocked.
        B:massFabStuckFix=true

        # Prevent breaking crop sticks when walking over it
        B:noTrampleCrops=true
    }

    thermal {
        # Don't match input NBT for recycling recipes of smelter and sawmill.
        # Allows recycling enchanted items with them.
        B:recycleRecipesFuzzyNBT=true
    }

    forestry {
        # Remove Buildcraft version check for the compat modules. Fixes the module not loading with BC 8.0.
        B:bc8Compat=true

        # Prevent faulty bee queen without mated tag from crashing the server when put into beekeeping.
        # They will be replaced with a princess with the same NBT.
        B:faultyQueenFix=true

        # Fix multi-farm does not return dirt or sand when replacing soil.
        B:multiFarmSoilReplaceFix=true
    }

    rftools {
        # In modular storage GUI, when putting your held item into the storage, prevent swapping the hovered item out from the storage.
        B:storageGuiInsertTweak=true

        # In modular storage GUI, when pulling items with shift,
        # don't refresh the list until mouse is released.
        # Improves compatibility with MouseTweaks.
        B:storageGuiShiftTweak=true
    }

    buildcraft {
        # Cache adaptor capabilities created by this mod. Only disable this for debug!
        B:cacheAdaptors=true

        # Allows BuildCraft item pipes to accept items ejected from hoppers and machines from other mods
        B:itemPipeAcceptEjection=true

        # Apply the transfer rate limits to kinesis pipes.
        # Also limits how much power can be stored in it.
        B:limitPipePower=false

        # Make BuildCraft compatible with Forge Energy and Redstone Flux.
        B:mjToForgeEnergy=false

        # Conversion ratio from MJ to FE. Should not be zero.
        # Min: 0.0
        # Max: 2.147483647E9
        D:mjToForgeEnergyRatio=10.0
    }

    moartinkers {
        # Disables server-side mining speed boost of traits when sneaking
        B:sneakDisablesMiningBoost=true
    }

    industrialforegoing {
        # Fixes a item duplication bug for the insertion conveyor upgrade
        B:fixConveyorInsertionDuplication=true
    }

    connectiontimeout {
        # Enable timeout for Biomes o' Plenty when it's checking trail info.
        B:bop=true

        # Enable timeout for Industrial Foregoing when it's checking contributors.
        B:industrialForegoing=true

        # Add a timeout when it's retrieving info for some mods, prevent it from sticking the loading progress forever on a lossy internet connection.
        # Set to 0 for infinite timeout.
        # Min: 0
        # Max: 2147483647
        I:timeout=5000
    }

    projectred {
        # Fix inventory size for certain machines to fix crashes
        B:fixMachineInventorySizes=true

        # Fix mining speed for machines and parts on ProjectRed
        B:fixMiningSpeed=true

        # Prevent overflow items cramming in pressure tubes.
        # Pressure tubes with stacks more than this value will be considered unpassable when pathfinding, so items won't cram up infinitely and cause huge lags.
        # Set to 0 to disable this feature.
        I:pressureTubeOverflowLimit=64
    }

    storagedrawers {
        # QoL feature: Unmark an slot from an formerly-locked drawer with a left-click.
        B:clearEmptySlot=true
    }

    bop {
        # Disables BOP custom fog completely.
        B:disableFog=false

        # The range for BOP to check fog. BOP Default is 20. Reduce for better performance but worse custom fog quality.
        I:fogCheckRange=5
    }

}


