# Configuration file

general {

    "general settings" {
        # Enable/Disable Baubles integration for the new artefact types (belt, helm, etc). This does NOT affect Electroblob's Wizardry's own Baubles support implementation (ring, amulet, charm)!
        B:"Baubles Integration"=true

        # This nerfs the Hot Spring Water, now it grants a flat 0.5 HP regen for entities, without giving the Regeneration effect.
        B:"BiomesOPlenty Hot Spring Water Tweak"=false

        # Enables or disables the Waystones integration
        B:"BiomesOPlenty integration"=true

        # Enables or disables the Pointer mod integration
        B:"Pointer integration"=true

        # Set to true to remove the pointer item's recipe from the game
        B:"Pointer integration - remove pointer item recipe"=false

        # Set to true to remove the PortalGun mod's item recipes from the game
        B:"PortalGun integration - remove item recipes"=false

        # Enables or disables the Portalgun integration
        B:"PortalGun mod integration"=true

        # Enables or disables the Quality Tools integration
        B:"Quality Tools mod integration"=true

        # Enables or disables the Quark integration
        B:"Quark integration"=true

        # Enables or disables the Treasure2 integration
        B:"Treasure2 integration"=true
        B:"TrinketsAndBaubles integration"=true
        I:"TrinketsAndBaubles integration - max magic level"=32
        D:"TrinketsAndBaubles integration - wizard armor mana regen increase per piece"=0.25

        # To set max mana, you have to edit 'Total Max Mana before affinity bonus' in Trinkets and Baubles' settings!
        I:"TrinketsAndBaubles max mana"=0

        # Enables or disables the Waystones integration
        B:"Waystones integration"=true
    }

    "spell tweaks settings" {
        # Add entities in a modid:registryname format to disallow teleporting them with Warpstone Ring + (Mass) Warp
        S:"[WAYSTONES MOD] Blacklisted warp entities for Warpstone Ring" <
            ebwizardry:wizard
            ebwizardry:evil_wizard
         >
    }

}


