# Configuration file

general {
    # The maximum y value that a crystal can generate in
    I:"Maximum generation height"=-1

    # The minimum y value that a crystal can generate in
    I:"Minimum generation height"=5

    # Enables a vanilla styled vis crystal model based on the item's texture 
    # Also, enabling this allows resource packs to modify the models/textures of the crystals 
    # Also (x2), in case you're using Ore Stages, enabling this (should) fix crystals being un-hideable 
    # Needs to be enabled in both server and client for it to work properly
    B:"Use a different Vis Crystal model"=true

    "vis crystal dimension blacklists" {
        S:"Air Crystal dimension blacklist" <
         >

        # List of dimensions where crystals won't generate (if blacklist), 
        # or the only dimensions it will generate (if whitelist, to make it a whitelist simply make the first entry an asterisk [*]) 
        # P.S. Use dimension IDs: The Nether -> -1, The End -> 1, The Aether -> 4, etc
        S:"Dimension blacklist" <
            1
         >
        S:"Earth Crystal dimension blacklist" <
         >
        B:"Enable dimension blacklist"=false
        B:"Enable dimension blacklist (specific crystals)"=false
        S:"Entropy (Black) dimension blacklist" <
         >
        S:"Fire Crystal dimension blacklist" <
         >
        S:"Order (White) dimension blacklist" <
         >
        S:"Water Crystal dimension blacklist" <
         >
    }

    "vis crystal biome blacklists" {
        S:"Air Crystal biome blacklist" <
         >

        # List of biomes where crystals won't generate (if blacklist), 
        # or the only dimensions it will generate (if whitelist, to make it a whitelist simply make the first entry an asterisk [*]) 
        # P.S. Use biome IDs: Plains -> 1, Desert -> 4, The Aether -> 4, etc
        S:"Biome blacklist" <
            1
         >
        S:"Earth Crystal biome blacklist" <
         >
        B:"Enable biome blacklist"=false
        B:"Enable biome blacklist (specific crystals)"=false
        S:"Entropy (Black) biome blacklist" <
         >
        S:"Fire Crystal biome blacklist" <
         >
        S:"Order (White) biome blacklist" <
         >
        S:"Water Crystal biome blacklist" <
         >
    }

}


