# Configuration file

general {
	# If true, the Bappy Stick can be fed furnace fuels to autosmelt
	# mined items.
	B:"allow_autosmelt"=true
	
	# If true, the Bappy Stick will have 6 torch slots, and it will
	# be able to place them upon right-click.
	B:"allow_torch_placement"=true
	
	# A list of valid items for use in the torch slots. CraftTweaker-style
	# ore dictionary names may be used (i.e. the oredict name prefixed by "ore:")
	# Anything with a block right-click action will work.
	S:"torches" <
		minecraft:torch
	>
	
	# If true, talismans will be able to use any enchantment that can be put
	# onto a normal tool, such as a pickaxe. e.g. Efficiency, Fortune.
	B:"inherit_tool_enchants"=true
	
	# If true, talismans will be able to use any enchantment that can be put
	# onto a normal weapon, such as a sword. e.g. Sharpness, Fire Aspect.
	B:"inherit_weapon_enchants"=true
	
	# If true, talismans will be able to use any enchantment that can be put
	# onto a breakable item. e.g. Unbreaking.
	B:"inherit_durability_enchants"=true
	
	# A list of extra enchantments that can be put onto talismans.
	# These enchantments will be shadowed onto the actual Bappy Stick
	# item, and as such, anything that works on normal tools should also
	# work on the Bappy Stick.
	S:"talisman_enchant_whitelist" <
	>
	
	# A list of enchantments that cannot be put onto talismans, if
	# otherwise inherited.
	#
	# Mending and Sweeping Edge are blacklisted by default as the mod
	# has no logic to deal with them. Removing either from this list
	# and then putting one on a talisman will give you a useless talisman.
	S:"talisman_enchant_blacklist" <
		minecraft:mending
		minecraft:sweeping
	>
	
	# If true, autosmelt fortunes all items, regardless of the below
	# list of prefixes. Default is false.
	B:"autosmelt_fortune_all"=false
	
	# A list of prefixes, that if any of them are on a smelting result,
	# will result in fortune being applied to autosmelt output.
	# Default is ingot and gem.
	S:"autosmelt_fortune_ore_prefixes" <
		ingot
		gem
	>
	
	# If true, a Talisman-containing Bappy Stick will have an enchantment glow.
	# Default is true.
	B:"show_enchant_glint"=true
}

balance {
	# If true, the torch slots won't exist and instead the Bappy Stick will
	# take 4 durability and create torches out of thin air.
	B:"free_torches"=false
	
	# The percentage efficiency of a furnace fuel used for autosmelting in the
	# Bappy Stick. 100% means just as efficient as a furnace; 8 items per
	# coal. 50% means half as efficient; 4 items per coal.
	#
	# The default is 50, as autosmelt is instantaneous.
	D:"fuel_rate"=50
	
	# The percentage of the average durability of all delegate items that
	# a resource will give on the tool.
	#
	# The default is 33.3333, as it takes 3 resources to make most tools.
	#
	# For example, a diamond tool has 1563 durability. So, with the default
	# durability rate of 33.333%, a diamond resource will give 521 durability.
	D:"durability_rate"=33.3333
	
	# The percentage of the durability that is dedicated to "overuse".
	# When a resources's "sure" durability is used up, it has a 1/N
	# chance of breaking, where N is the amount of "overuse" durability.
	#
	# The default is 25, meaning that 75% of the durability is "sure"
	# durability, and the last 25% is "overuse" durability.
	#
	# For example, a diamond tool has 1563 durability. A third of that
	# (the default durability rate) is 521. 75% of that (the default
	# overuse rate) is 390, rounding down. So, after 390 strikes, the
	# resource enters "overuse", and has a 1/130 chance of breaking, as
	# the remaining 25% is 130. This averages out to lasting for the full
	# durability, but adds a chance for it to last less or more time.
	D:"overuse_rate"=25
	
	# The percentage of attack speed to use. The attack speed from the
	# slowest delegate item will be used (usually the axe), with this much
	# percent taken off. Default is 80, so the Bappy Stick will be 80% the
	# speed of an axe when used to attack. If the percentage is greater than
	# 100, the Bappy Stick will be faster than an axe.
	D:"attack_speed"=80
	
	# The percentage of attack damage to use. The attack damage from the
	# most damaging delegate item will be used (usually the axe), with this
	# much percent taken off. Default is 100, so the Bappy Stick will deal
	# as much damage as an axe. If the percentage is greater than 100, the
	# Bappy Stick will deal more damage than an axe.
	D:"attack_damage"=100
	
	# The percentage of mining speed to use. The highest mining speed of any
	# delegate item for a given block is used. Which delegate this will use
	# depends on what block is being mined; for stone, it will be the pickaxe.
	# Default is 100, so the Bappy Stick will mine as fast as the proper tool.
	# If the percentage is greater than 100, the Bappy Stick will mine faster
	# than the proper tool.
	D:"mining_speed"=100
}

# Defines the resources that can be consumed by the Bappy Stick.
# For every tier you want to add, there must be two values.
#  - "NAME_resources", which is a list of valid resource inputs.
#    Each resource must have its value defined as a percentage, after a
#    space. You may use item names, or CraftTweaker-style ore dictionary
#    names (i.e. the oredict name prefixed by "ore:").
#  - "NAME_delegates", which is a list of item IDs (no oredict names)
#    of all the kinds of tools to "delegate" to. This should be at least
#    the sword, pickaxe, shovel, and axe. The bappy stick will adopt the
#    max harvest level and harvest speed of the tools in this list for
#    a given block, as well as their max attack damage minus one.
# All this data is stored dynamically in item NBT, so changing names
# will not break worlds.
# P.S.: 100 divided by 9 is 11.1111%, so you may use that for any nuggets.
resources {
	S:"wood_resources" <
		ore:plankWood 100%
		ore:logWood 400%
		ore:stickWood 50%
	>
	S:"wood_delegates" <
		minecraft:wooden_sword
		minecraft:wooden_pickaxe
		minecraft:wooden_shovel
		minecraft:wooden_axe
		minecraft:wooden_hoe
	>
	
	S:"stone_resources" <
		ore:cobblestone 100%
	>
	S:"stone_delegates" <
		minecraft:stone_sword
		minecraft:stone_pickaxe
		minecraft:stone_shovel
		minecraft:stone_axe
		minecraft:stone_hoe
	>
	
	S:"iron_resources" <
		ore:ingotIron 100%
		ore:nuggetIron 11.1111%
		ore:blockIron 900%
	>
	S:"iron_delegates" <
		minecraft:iron_sword
		minecraft:iron_pickaxe
		minecraft:iron_shovel
		minecraft:iron_axe
		minecraft:iron_hoe
	>
	
	S:"diamond_resources" <
		ore:gemDiamond 100%
		ore:nuggetDiamond 11.1111%
		ore:blockDiamond 900%
		minecraft:bedrock 100000%
	>
	S:"diamond_delegates" <
		minecraft:diamond_sword
		minecraft:diamond_pickaxe
		minecraft:diamond_shovel
		minecraft:diamond_axe
		minecraft:diamond_hoe
	>
	
	S:"gold_resources" <
		ore:ingotGold 100%
		ore:nuggetGold 11.1111%
		ore:blockGold 900%
	>
	S:"gold_delegates" <
		minecraft:golden_sword
		minecraft:golden_pickaxe
		minecraft:golden_shovel
		minecraft:golden_axe
		minecraft:golden_hoe
	>
}