# Configuration file

##########################################################################################################
# neohell
#--------------------------------------------------------------------------------------------------------#
# These keys affect how the world is generated, and whether it is generated.
##########################################################################################################

neohell {
    # Setting this to false disables neohell entirely, and this mod's blocks will be unobtainable unless tweaked in. [default: true]
    B:enabled=true

    # Remaps neohell to a different dimension ID, possibly causing it to replace a different dimension. May be catastrophically bad for existing maps. [range: -2147483648 ~ 2147483647, default: -1]
    I:id=-666
}


