# Configuration file

general {

    worldgensettings {

        custom_biomes {
            B:"1) Disable all custom biomes"=true
            B:"Aspen Grove"=true
            B:"Boreal Autumnal Forest"=true
            B:"Coniferous Mountains"=true
            B:"Cypress Swamps"=true
            B:"Desert Mountains"=true
            B:"Dry Golden Cottonwoods"=true
            B:"Dry Prairie"=true
            B:"Equatorial Rainforest"=true
            B:"Fairy Forest"=true
            B:"Fir Forest"=true
            B:"Forest Lowlands"=true
            B:Grasslands=true
            B:"Grassy Highland"=true
            B:"Hot Deserted Land"=true
            B:"Hot Grove"=true
            B:"Hot Mountains"=true
            B:"Ice Grove"=true
            B:"Light Taiga"=true
            B:"Lush Autumnal Forest"=true
            B:"Lush Grove"=true
            B:"Lush Hills"=true
            B:"Lush Japanese Maple Forest"=true
            B:"Lush Mixed Forest"=true
            B:"Lush Needle Peeks"=true
            B:Mangrove=true
            B:Meadow=true
            B:Mountains=true
            B:"Oak Grove"=true
            B:"Poplar Fields&Terraces"=true
            B:"Poplar Grove"=true
            B:"Red Mountains"=true
            B:"Redwood Forest"=true
            B:Schrublands=true
            B:"Snowy Crimson Forest"=true
            B:"Snowy Dead Taiga"=true
            B:"Snowy Fir Forest"=true
            B:"Snowy Forest"=true
            B:"Snowy Hills"=true
            B:"Snowy Tundra"=true
            B:Steppe=true
            B:"Taiga Fjords"=true
            B:"Taiga Highlands"=true
            B:"Temperate Fir Forest"=true
            B:"Tropical Paradise"=true
            B:"Warm Dry Hills"=true
            B:"Warm Meadow"=true
            B:"Warm Mixed Forest"=true
            B:"Warm Mountains"=true
            B:"Warm Pastoral"=true
            B:"Wet Forest"=true
            B:"Wicked Lands"=true
        }

        plants_and_trees {
            # Note: without crops you will not be able to make many kinds of food.Rice will also be disabled.
            B:"Disable all crops"=false

            # Current list: banana, pitahaya, pineapple
            B:"Disable all fruit plants"=false

            # Current list: actinidia (kiwi), passionfruit
            B:"Disable all fruit vines"=false

            # Use this to disable all high grasses, if you don't like them. Rice will not be disabled.
            B:"Disable all high grasses"=false

            # Medical plants are used in potions, rituals, some magic recipes.
            B:"Disable all medical plants"=false
            B:"Disable all moss, except for reindeer moss"=false

            # Use this to disable all ground plants, except for medical, special and fruiting plants.
            B:"Disable all normal (on-ground) plants"=false

            # Special plants are used in ordinary recipes.
            # Current list : cattail/dead cattail, cotton grass/snowed cotton grass, poinsettia, shinyphere, white nymphaea, blue poppy.
            # Note: without special plants you will not be able to craft a lot of things.
            B:"Disable all special plants"=false

            # Note: Fruiting vines, white ipomoea and ivy will not be disabled, as well as some special trees vines.
            B:"Disable all vines"=false

            # Use this to disable all water plants, except for white nymphaea and lotus.
            B:"Disable all water plants"=false

            # Note: without berries you will not be able to make many kinds of food.
            B:"Disable berry bushes"=false
            B:"Disable cube flower bushes, except for rose hip"=false
            B:"Disable custom mushrooms"=false

            # VANILLA WORLD/WORLD WITHOUT CUSTOM BIOMES option!
            # Note: without fruit trees you will not be able to make many kinds of food.
            # Without medical trees you will not be able to make potions and other magical stuff
            B:"Disable fruit and medical trees in vanilla world/world without custom biomes"=false

            # Disable mistletoe in all biomes, except for Wicked Lands. Mistletoe is a magic ingredient.
            B:"Disable mistletoe"=false

            # Use this if there are too many lilypads spawning somewhere,use 0 to disable.Big values may cause issues!
            I:"Giant lilypads (victoria amazonica) rarity"=20

            # Use this to disable all plants except for crops and magical/medical stuff
            B:"Leave only crops and medical plants"=false
        }

        mining_resources {
            # Use this to disable all ores generation
            # Note: without ores you will not be able to craft a lot of stuff and perform magic.
            B:"1) Disable ores"=false

            # Use 0 to disable ore generation.Values >20 may cause issues!
            I:"Amber ore rarity"=1

            # Use 0 to disable ore generation.Values >20 may cause issues!
            I:"Beryl ore rarity"=1

            # Use 0 to disable ore generation.Values >20 may cause issues!
            I:"Chalcedony ore rarity"=1
            B:"Disable jade ore generation in Lush Needle Cliffs biome"=false

            # Use this to disable magical crystals spawning.
            # Note: without crystals you will not be able to make magic.
            B:"Disable magical crystals"=false

            # Use this to disable magical moss growing near player-placed magical crystals
            # Note: you will not be able to use Plants Grower without magical spores and craft some recipes.
            B:"Disable magical moss"=false
            B:"Disable rock salt generation"=false

            # Use 0 to disable ore generation.Values >20 may cause issues!
            I:"Garnet ore rarity"=1

            # Use 0 to disable ore generation.Values >20 may cause issues!
            I:"Green Jasper ore rarity"=1

            # Use 0 to disable ore generation.Values >20 may cause issues!
            I:"Hematite ore rarity"=1

            # Use 0 to disable ore generation.Values >20 may cause issues!
            I:"Malachite ore rarity"=15

            # Use 0 to disable ore generation.Values >20 may cause issues!
            I:"Rhodochrosite ore rarity"=10

            # Use 0 to disable ore generation.Values >20 may cause issues!
            I:"Sapphire ore rarity"=1
        }

        vanilla_biomes_trees {
            # Use this if you want a totally normal minecraft world.
            # Special trees and plants will still spawn.
            # If you want to disable them, look in to the Plants&Crops section.
            B:"1) Use vanilla biomes worldgen"=true
            B:"Birch Forest and Hills"=true
            B:"Cold Taiga M (Snowy Mega Taiga)"=true
            B:"Cold Taiga and Hills"=true
            B:Desert=true
            B:"Desert Hills"=true
            B:"Extreme Hills"=true
            B:"Flower Forest"=true
            B:"Forest and Forest Hills"=true
            B:"Ice Plains"=true
            B:Jungle=true
            B:"Mega Spruce Taiga and Redwood Taiga Hills M"=true
            B:"Mega Taiga and Mega Taiga Hills"=true
            B:Mesa=true
            B:"Mesa Bryce"=true
            B:"Mesa Plateau"=true
            B:"Mesa Plateau F"=true
            B:"Mesa Plateau M F"=true
            B:"Mushroom Biome"=true
            B:Plains=true
            B:"Roofed Forest"=true
            B:"Savanna M"=true
            B:"Savanna and Savanna Plateau"=true
            B:"Sunflower Fields"=true
            B:Swampland=true
            B:"Swampland M"=true
            B:"Taiga M"=true
            B:"Taiga and Taiga Hills"=true
            B:"Water Biomes"=true
        }

    }

    trees {
        # This option can reduce lags caused by falling logs
        B:"Drops all logs as a stack"=false

        # Use an axe to remove trees by chopping their base log.
        # By default, shift button removes this effect.
        B:"Enable whole tree chopping by axes"=false

        # By default, shift button removes the chop-down effect of an axe.
        B:"Remove only one block of a tree,while sneaking"=false

        # It allows full tree chopping and custom decay of the vanilla leaves.
        # With this option FALSE leaves will be undecayble.
        B:"Replace vanilla logs/leaves with custom UN logs/leaves"=true
    }

    gameplay {
        # FALSE is good for those, who want to leave an ability to remove beneficial annoying effects, like Night Vision or strange UN effects.
        # Otherwise you can set it to TRUE and fully accept the consequences of drinking magic substances.
        B:"Disable milk healing effect for ALL potions"=false

        # No more cheaty milk healing! Give UN potions a chance to be crafted and used.
        B:"Disable milk healing effect only for BAD potions"=true
    }

    colors {
        # Note: with deault vanilla colors UN plants are looking worse.
        B:"1) Enable custom biome colors for ALL vanilla biomes"=true
        B:Beach=true
        B:"Birch forests"=true
        B:Desert=true
        B:"Extreme Hills"=true
        B:"Flower Forest"=true
        B:Forests=true
        B:"Humid,flowering Savanna M"=true
        B:"Icy biomes"=true
        B:"Jungle biomes"=true
        B:"Mesa Bryce biome group"=true
        B:"Mesa biome group"=true
        B:"Mushroom biome"=true
        B:Plains=true
        B:"Roofed Dark Forest"=true
        B:"Savanna biomes"=true
        B:"Snowy, Cold biomes"=true
        B:"Sunflower Plains"=true
        B:"Swampland M"=true
        B:"Taiga biomes+Stone Beach"=true
        B:"Water biomes"=true
    }

    performance {
        B:"Make foliage to not render inner leaves for an additional performance"=false
        B:"Render leaves as transparent (without shadows) for an additional performance"=false
    }

}


