# Configuration file

general {
    # Allows you to climb up without alternating walls
    B:allowReClinging=false

    # Automatically turn the player when wall clinging
    B:autoRotation=false

    # A list of blocks that cannot be clinged to
    S:blacklistedBlocks <
        minecraft:block
     >

    # Elytra speed boost; set to 0.0 to disable
    # Min: 0.0
    # Max: 3.0
    D:elytraSpeedBoost=0.0

    # Enable Wall-Jump enchantments in the enchanting table
    B:enableEnchantments=true

    # Exhaustion gained per wall jump
    # Min: 0.0
    # Max: 3.0
    D:exhaustionWallJump=0.75

    # If 'true', player will not be able to jump during a hard fall to avoid fall damage.
    B:fairDoubleJump=true

    # Double jumping will be allowed while falling if player is moving fast enough on the X or Z axis.
    D:fairMotionXZ=0.26

    # How fast player must move downwards for the double jump restriction to kick in. Must be a negative float number!
    D:fairMotionY=-0.85

    # X offset of the falling hud
    I:fallingHudX=-33

    # Y offset of the falling hud
    I:fallingHudY=11

    # Turns the blacklisted block list into a whitelist
    B:invertBlockBlacklist=false

    # Minimum distance for fall damage; set to 3.0 to disable
    # Min: 3.0
    # Max: 1.7976931348623157E308
    D:minFallDistance=7.5

    # Play a rush of wind as you fall to your doom
    B:playFallSound=true

    # Show icon when player is falling and can't double jump.
    B:showFallingHud=true

    # Sprint speed boost; set to 0.0 to disable
    # Min: 0.0
    # Max: 3.0
    D:sprintSpeedBoost=0.0

    # Walk up steps even while airborne, also jump over fences
    B:stepAssist=false

    # Allows you to jump in mid-air
    B:useDoubleJump=false

    # Allows you to wall cling and wall jump
    B:useWallJump=true

    # Distance jumped during a wall jump
    # Min: 0.0
    # Max: 1.0
    D:wallJumpBoost=0.55

    # Ticks wall clinged before a wall slide
    # Min: 0
    # Max: 2147483647
    I:wallSlideDelay=15
}


